# Instructions

This simulates retail sales for cigarettes, Juul and other e-cigarettes. We are interested in what conclusions you draw from this data about Juul's performance and market impact and how you visualize them. 

Feel free to use whatever means you prefer for your analysis and communication of it and its results. What you send back should be able to stand on its own, i.e., we should be able to understand it without requiring additional narration.

Please only use RMA and ignore CRMA and SRMA geographies for this analysis.

In [65]:
import pandas as pd
import numpy as np
import os 
import sys
import re
import datetime
os.listdir()

['.git', '.ipynb_checkpoints', 'sales.csv', 'sku.csv', 'Untitled.ipynb']

In [4]:
sales = pd.read_csv('sales.csv')
sku = pd.read_csv('sku.csv')

In [48]:
sales.head(10)

,Geography,Product,Time,Dollar Sales,Unit Sales,SKU
0,Circle K Florida-RMA - Conv,CIGARETTES,4 Weeks Ending 01-31-16,28921840.49,4968512.070,Cigarettes Total
1,Circle K Florida-RMA - Conv,CIGARETTES,4 Weeks Ending 02-28-16,30276220.80,5139634.753,Cigarettes Total
2,Circle K Florida-RMA - Conv,CIGARETTES,4 Weeks Ending 03-27-16,31535167.82,5366848.000,Cigarettes Total
3,Circle K Florida-RMA - Conv,CIGARETTES,4 Weeks Ending 04-24-16,31693487.95,5420033.091,Cigarettes Total
4,Circle K Florida-RMA - Conv,CIGARETTES,4 Weeks Ending 05-22-16,31390945.73,5380230.139,Cigarettes Total
5,Circle K Florida-RMA - Conv,CIGARETTES,4 Weeks Ending 06-19-16,31286284.72,5351033.111,Cigarettes Total
6,Circle K Florida-RMA - Conv,CIGARETTES,4 Weeks Ending 07-17-16,31058485.91,5306152.200,Cigarettes Total
7,Circle K Florida-RMA - Conv,CIGARETTES,4 Weeks Ending 08-14-16,30747716.96,5259324.210,Cigarettes Total
8,Circle K Florida-RMA - Conv,CIGARETTES,4 Weeks Ending 09-11-16,30396088.49,5198175.061,Cigarettes Total
9,Circle K Florida-RMA - Conv,CIGARETTES,4 Weeks Ending 10-09-16,30123052.65,5131669.082,Cigarettes Total

In [7]:
sku

,SKU Legend,Unit Sales,SKU
0,JUUL-ELECTRONIC SMOKING DEVICES,–,JUUL Total
1,CIGARETTES,"75,083,502,411",Cigarettes Total
2,ELECTRONIC SMOKING DEVICES,"939,305,632",E-Cigs Total
3,JUUL ELCTRNC SMKNG ACSRY MIINT DISPOSABLE 4 CT...,"27,211,643",JUUL Refill Kits
4,JUUL ELCTRNC SMKNG ACSRY BRUULE DISPOSABLE 4 C...,"7,979,019",JUUL Refill Kits
5,JUUL ELCTRNC SMKNG ACSRY FRUUT DISPOSABLE 4 CT...,"7,395,437",JUUL Refill Kits
6,JUUL ELCTRNC SMKNG ACSRY MANGO DISPOSABLE 4 CT...,"6,871,591",JUUL Refill Kits
7,JUUL ELCTRNC SMKNG ACSRY TABAAC DISPOSABLE 4 C...,"9,532,052",JUUL Refill Kits
8,JUUL ELECTRONIC SMKNG DVC ELECTRONIC CIGRTT KT...,"5,596,081",JUUL Devices
9,JUUL ELECTRONIC SMKNG DVC ELECTRONIC CIGRTT KT...,"1,533,344",JUUL Devices
10,JUUL ELCTRNC SMKNG ACSRY ASSORTED DISPOSABLE 4...,131,JUUL Refill Kits
11,JUUL ELCTRNC SMKNG ACSRY 1 CT - 0819913011561,"35,395",JUUL Accessories
12,JUUL ELCTRNC SMKNG ACSRY COOL CUCUMBER DISPOSA...,"215,610",JUUL Refill Kits
13,JUUL ELCTRNC SMKNG ACSRY CLASSIC MENTHOL DISPO...,"77,402",JUUL Refill Kits
14,JUUL ELCTRNC SMKNG ACSRY CLASSIC TOBACCO DISPO...,"33,324",JUUL Refill Kits

In [94]:
# filtering sales to only RMA geos
sales_RMA = sales[np.array(sales.Geography.apply(lambda x: re.search("-RMA", x))) != None]
sales_RMA.head(10)

,Geography,Product,Time,Dollar Sales,Unit Sales,SKU
0,Circle K Florida-RMA - Conv,CIGARETTES,4 Weeks Ending 01-31-16,28921840.49,4968512.070,Cigarettes Total
1,Circle K Florida-RMA - Conv,CIGARETTES,4 Weeks Ending 02-28-16,30276220.80,5139634.753,Cigarettes Total
2,Circle K Florida-RMA - Conv,CIGARETTES,4 Weeks Ending 03-27-16,31535167.82,5366848.000,Cigarettes Total
3,Circle K Florida-RMA - Conv,CIGARETTES,4 Weeks Ending 04-24-16,31693487.95,5420033.091,Cigarettes Total
4,Circle K Florida-RMA - Conv,CIGARETTES,4 Weeks Ending 05-22-16,31390945.73,5380230.139,Cigarettes Total
5,Circle K Florida-RMA - Conv,CIGARETTES,4 Weeks Ending 06-19-16,31286284.72,5351033.111,Cigarettes Total
6,Circle K Florida-RMA - Conv,CIGARETTES,4 Weeks Ending 07-17-16,31058485.91,5306152.200,Cigarettes Total
7,Circle K Florida-RMA - Conv,CIGARETTES,4 Weeks Ending 08-14-16,30747716.96,5259324.210,Cigarettes Total
8,Circle K Florida-RMA - Conv,CIGARETTES,4 Weeks Ending 09-11-16,30396088.49,5198175.061,Cigarettes Total
9,Circle K Florida-RMA - Conv,CIGARETTES,4 Weeks Ending 10-09-16,30123052.65,5131669.082,Cigarettes Total

In [95]:
# Fixing Time column
# is it always ending in 4 weeks?
print(sales_RMA.shape == 
      sales_RMA[np.array(sales_RMA.Time.apply(lambda x: re.search("4 Weeks Ending", x))) != None].shape) #yes

sales_RMA['end_time'] = sales_RMA.Time.apply(lambda t: re.split(" ", t)[-1])
sales_RMA.end_time = sales_RMA.end_time.apply(lambda x: datetime.datetime.strptime(x, "%m-%d-%y"))
sales_RMA['start_time'] = sales_RMA.end_time.apply(lambda x: x - datetime.timedelta(weeks = 4))

True

/Users/Nicholas_Lechner/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/Users/Nicholas_Lechner/anaconda3/lib/python3.6/site-packages/pandas/core/generic.py:3643: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value
/Users/Nicholas_Lechner/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [96]:
sales_RMA.head()

,Geography,Product,Time,Dollar Sales,Unit Sales,SKU,end_time,start_time
0,Circle K Florida-RMA - Conv,CIGARETTES,4 Weeks Ending 01-31-16,28921840.49,4968512.070,Cigarettes Total,2016-01-31,2016-01-03
1,Circle K Florida-RMA - Conv,CIGARETTES,4 Weeks Ending 02-28-16,30276220.80,5139634.753,Cigarettes Total,2016-02-28,2016-01-31
2,Circle K Florida-RMA - Conv,CIGARETTES,4 Weeks Ending 03-27-16,31535167.82,5366848.000,Cigarettes Total,2016-03-27,2016-02-28
3,Circle K Florida-RMA - Conv,CIGARETTES,4 Weeks Ending 04-24-16,31693487.95,5420033.091,Cigarettes Total,2016-04-24,2016-03-27
4,Circle K Florida-RMA - Conv,CIGARETTES,4 Weeks Ending 05-22-16,31390945.73,5380230.139,Cigarettes Total,2016-05-22,2016-04-24